body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h2 {
    margin-bottom: 72px;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
}
ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
img {
    display: block;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
nav .navigation {
    display: inline-flex;
    flex-direction: row;
    gap: 40px;
}
.nav-link {
    display: block;
    padding: 24px 0;
}
address {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
address .contacts {
    display: inline-flex;
    flex-direction: row;
    gap: 40px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
span {
    color: #2e2f42;
}
.logo-span {
    color: #f4f4fd;
}
.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.contacts {
    font-style: normal;
}
.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
.hero-image {
    background-color: #2e2f42;
    padding: 188px 0;
}
.page-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    
}
.hero-image-button {
    display: block;
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}
.hero-image button:hover,
.hero-image button:focus {
    background-color: #404bbf;
}
.section-one {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-one-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}
.section-one-list li {
    flex-basis: calc(100% - (3 * 24px));
}
.section-one .section-card-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.section-one .section-card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.section-two {
    background-color:#f4f4fd;
    padding: 120px 0;
}
.section-two .section-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.section-two-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.section-two .section-list-item {
    background-color: #FFF;
    border-radius: 0 0 4px 4px;
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.section-two .section-card-caption {
    padding-top: 32px;
    padding-bottom: 32px;
}
.section-two .section-card-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}
.section-two .section-card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.section-three {
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-three .section-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.section-three-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.section-three .section-card-caption {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
}
.section-three .section-card-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.section-two .section-card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}